# Server Port
PORT=5000

DATABASE_URL=postgresql://neondb_owner:npg_h1vdH5kgBSJU@ep-bitter-wildflower-b3z1uzie-pooler.c-4.ap-southeast-1.aws.neon.tech/loan-db?sslmode=require&channel_binding=require
DATABASE_SSL=true

# PostgreSQL Connection String for pgAdmin
# Format: postgres://<username>:<password>@<host>:<port>/<database_name>
DATABASE_URL=postgres://postgres:your_password_here@localhost:5432/loan_db

# Set to true if connecting to cloud PostgreSQL (e.g. Supabase, Neon) requiring SSL
DATABASE_SSL=false

# JWT Secret Key
JWT_SECRET=super-secure-loan-secret-key-2026
